
.title {
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;

}
.photo{
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;

}
.detail{
    width: 400px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;

}
.ddetail{
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;


}

.intro{
     width: 600px;
     height: auto;
     margin-top:auto;
     margin-left:50%;
     margin-bottom:auto;
     margin-right:auto;
     border: 2px solid red;

}
.b{
     width: auto;
     height: auto;
     margin-top:auto;
     margin-left:70%;
     margin-bottom:500px;
     margin-right:auto;

}
#goto p a:link{color:Black;}
#goto p a:visited{color:Black;}
#goto p a:hover{color:FireBrick;}
#goto p a:active{color:FireBrick;}

$animSpd: 750 * 1ms;//chamge also in JS
$numOfSlides:2;
$bgPics:(
url('https://c8.staticflickr.com/6/5559/30185241951_258e6821bc_c.jpg')
center center no-repeat,
url('https://c2.staticflickr.com/6/5535/30185943961_fed86d2235_c.jpg')
center center no-repeat,
);

