
.title {
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;

}
.photo{
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;

}
.detail{
    width: 400px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;

}
.ddetail{
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;


}
#hi {
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:55%;
    margin-bottom:auto;
    margin-right:auto;

}
A #goto:link{color:#000000;}
A #goto:hover{color:#8B0000;}



