
.title {
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;

}
.photo{
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;

}
.detail{
    width: 400px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;

}
.ddetail{
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;


}
.title {
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:55%;
    margin-bottom:auto;
    margin-right:auto;

}

#goto a {
      color:#000000;
    
}
#goto a:hover{
      color:#8B0000;
}
#goto a:active{
      color:#8B0000;
}

