.title {
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;
}
.photo{
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;

}
.detail{
    width: 400px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;
    background-color:#DC143C;

}
.ddetail{
    width: 600px;
    height: auto;
    margin-top:auto;
    margin-left:15%;
    margin-bottom:auto;
    margin-right:auto;
     background-color:#DC143C;


}

